<!DOCTYPE html>
<html>
<head>
	<title>Name-home</title>
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/font-awesome.css">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>

	<nav>
		<div class="navbar navbar-default navbar-fixed-top" role="navigation">
			<div class="navbar-header" >
				<h3><a href="/">Home</a></h3>
            </div>
            <div class="collapse navbar-collapse navbar-right">
                <ul class="nav navbar-nav">
               		<li class="notsignedin"><a href="login">Sign in</a></li>9
	                <li class="signedin"><a href="/questions">Questions List</a></li>
	                <li class="signedin"><a href="/addQuestion">New Question</a></li>
	                <li class="signedin">
	                	<a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="name"></span><b class="caret"></b></a>
                		<ul class="dropdown-menu multi-level">
               				<li><a class="profile" href="/profile">Profile/Settings</a></li>
               				<li><a class="logout" href="/logout">Log Out</a></li>
               			</ul>
                    </li>
                </ul>
            </div>
		</div>
	</nav>
	<br><br><br><br>



	<div class="container feed">
		<div class="question-wrapper">
			<div class="question">Sample Question</div>
			<div class="question-detail">Detail</div>
			<div class="question-tags">Tag</div>
			<div class="answer-wrapper">
				<div class="answer-author">Me</div>
				<div class="answer">The Answer</div>
			</div>
		</div>
	</div>



	<script src="/js/jquery-2.1.4.js"></script>
	<script src="/js/bootstrap.min.js"></script>

<script >
$(document).ready(function(){
	$.ajax({
		url: '/getcookie',
		type: 'GET',
		dataType: 'json'
	})
	.done(function(c) {
		console.log(c);
		if(c.ID){
			$(".notsignedin").css('display','none');
			$(".signedin").css('display', 'initial');
			$(".name").html(c.name);
			$.ajax({
				url: '/api/feed',
				type: 'GET'
			})
			.done(function(answers) {
				for (i in answers){
					//console.log(answers[i]);
					getDetail(answers[i]);
				}
			});
		}
	});

function getDetail(ans){
	$.ajax({
		url:'/api/questionDetail/'+ans.questionID,
		type:'GET'
	})
	.done(function(quest){
		console.log(ans.questionID);
		console.log(quest);
		$.ajax({
			url:'/api/getUpvotesNo/'+ans._id,
			type:'GET'
		})
		.done(function(upvotes){
			console.log(upvotes);
			$(".feed").append("<div><a href='/question?qID="+quest._id+"'>"+quest.question+"</a><br><div class='question-detail'>"+quest.detail+
			"</div><div class='question-tag'>"+quest.tag+"</div>By "+ans.userID+"<br>"+ans.answer+"</div><div><span class='upvote-count "+ans._id+"'>"+upvotes.count+
			"</span><span id='"+ans._id+"' class='upvote-btn btn btn-info'>Upvote</span></div><br>");
		})

	});
}

	$(".feed").on('click','.upvote-btn',function(){
		var ansID=$(this).attr('id');
			$.ajax({
				url:'/api/upvote/'+ansID,
				type:'GET'
			})
			.done(function(){
				console.log("upvoted");
				//TODO change upvote number
			})
	});

	$(".logout").on('click', function() {
		$.ajax({
			url: '/logout',
			type: 'GET',
		})
		.done(function() {
			$(".notsignedin").css('display','initial');
			$(".signedin").css('display', 'none');
		})
	});
});
</script>
</body>
</html>
