.delete,.nav > .signedin{
	display: none;
}

#optionsid:active,#optionsid:hover,#optionsid:focus,#optionsid:visited{
	background-color: white;
}
input{
	margin:5px;
	padding:5px;
	width:20%;
}
#question{
	width:60%;
}
#myChart{
	width:20%;
}
.jumbotron{
	margin-left: 5%;
	margin-right: 5%;
}
a.twitter-btn:hover,
a.twitter-btn:focus {
  background-color:rgba(0,132,180,1);
  color:white;
}
a.twitter-btn{
  background-color:rgba(0,132,180,0.8);
  color:white;
}
.container-feed{
	background:#ffffff;
}
.wrapper{
	background-color:#fafafa;
	 cursor: pointer;
  -webkit-transition: .75s ease;
  transition: .75s ease;
	margin: 10px auto;
  border-radius: 4px;
  box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3);
	padding:10px;
}
.wrapper:hover{
	background-color:#eaeaea;
}
.question{
	backgroung-color:#b8b9ba;
	font-weight: bold;
	font-size:30px;

	cursor: pointer;
  -webkit-transition: .75s ease;
  transition: .75s ease;

}
.all-prop-ques{
	 cursor: pointer;
  -webkit-transition: .75s ease;
  transition: .75s ease;

}
.all-prop-ques:hover{
	background-color:#fafafa;
	border-style: ridge;

}
.question-detail{
	font-size: 13px;
	position:relative;
}
.question-tags{
	font-size:12px;
	position:relative;
	left:50px;

}
.question-tags:hover{
font-weight:bold;
}
.question:visited{
	background-color:#fafafa;

}
.answer-author{
	font-size:17px;
	position:relative;
	left:20px;

}
.answer{
	font-size:20px;
	position:relative;
	left:20px;
	margin: 40px auto;
	font-family:"Comic Sans MS";

}
.btn_btn{
	background: rgba(160, 179, 176, 0.25);
  color: #a0b3b0;
  float: left;
  width: 7%;
  text-align: center;
  cursor: pointer;

  -webkit-transition: .5s ease;
  transition: .5s ease;
  padding: 1px;
}
.btn_btn:hover{
	background: #179b77;
  color: #ffffff;
}
